html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}


#appLayout {
    height: 100%;
}
#leftCol {
    width: 30%;
}
#menu {
    width:100px;
}

#graphHolder {    
    width:70%;
 }

#downloadButton{
    width:100px;
}
.claro .demoLayout .edgePanel{
    background-color: #d0e9fc;
    height:17.5%;
    margin:0;
}
 
#viewsChart {
    width: 550px;
    height: 550px;
}
