html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}


#appLayout {
  height: 100%;
  width: 100%;
}
#leftCol {
  width: 30%;
}
#controls {
  width:200px;
}

#graphHolder {
  padding:0px;
  border:0px;
  width:75%;
  height:100%;
}

#downloadButton{
  width:100px;
}
.claro .demoLayout .edgePanel{
  background-color: #d0e9fc;
  height:17.5%;
  margin:0;
}

#viewsChart {
  width: 550px;
  height: 550px;
}

.graph {
  border-style:solid;
  border-color:red;
  border-width:0px;
  outline:0;
  margin:0;
}

svg {
  width: auto;
  height: auto;
}

#graphHolder_splitter {
  color: red;
}

#display{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#downloadImagePane{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#downloadDataPane{
  padding: 0px;
  border: 0px;
  margin: 0px;
}
