html, body {
  height: 100%;
  margin: 0px;
/*  overflow: hidden;*/
  padding: 0px;
}

#key {
  width:250px;
  background-color:#efefef;
}
#autoUpdateContainer {
  width: 200px;
}
#appLayout {
  height: 100%;
  width: 100%;
  background-color:#efefef;
}
#leftCol {
  width: 30%;
}
#controls {
  padding:0px;
  border:0px;
  background-color:#efefef;
}
#timeControls {
  width:250px;
  padding:0px;
  border:0px;
  margin:0px;
}
#customTime {
  width: 230px;
  padding:4px;
  border:0px;
  margin:0px;
}
#sth {
  width: 105px;
  padding:0px;
  border:0px;
  margin:0px;
}
#eth {
  left: 107px;
  width: 105px;
  padding:0px;
  border:0px;
  margin:0px;
}
#widget_startTime, #widget_startDate, #widget_endTime, #widget_endDate {
  width: 100px
}
#time {
  background-color:#efefef;
  width: 250px
}
#graphHolder {
  padding:0px;
  border:0px;
  width:80%;
  height:100%;
  background-color:#efefef;
  overflow: hidden;
}
div {
  padding:0px;
  margin:0px;
  
}

#downloadButton{
  width:100px;
}

.claro .demoLayout .edgePanel{
  background-color: #d0e9fc;
  height:17.5%;
  margin:0;
}

.legenddiv {

}

#viewsChart {
  width: 550px;
  height: 550px;
}

.graph {
  border-style:solid;
  border-color:red;
  border-width:0px;
  outline:0;
  margin:0;
/*  overflow: hidden;*/
}

svg {
  width: auto;
  height: auto;
}

#graphHolder_splitter {
  color: red;
}

#display{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#downloadImagePane{
  padding: 0px;
  border: 0px;
  margin: 0px;
}

#downloadDataPane{
  padding: 0px;
  border: 0px;
  margin: 0px;
}
